@import url("//hello.myfonts.net/count/39a02b");

@font-face {font-family: 'CentSchbookBTWGL4WXX-Italic';src: url('../fonts/39A02B_1_0.eot');src: url('../fonts/39A02B_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/39A02B_1_0.woff2') format('woff2'),url('../fonts/39A02B_1_0.woff') format('woff'),url('../fonts/39A02B_1_0.ttf') format('truetype');}
@font-face {font-family: 'CentSchbookBTWGL4WXX-Bold';src: url('../fonts/39A02B_2_0.eot');src: url('../fonts/39A02B_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/39A02B_2_0.woff2') format('woff2'),url('../fonts/39A02B_2_0.woff') format('woff'),url('../fonts/39A02B_2_0.ttf') format('truetype');}
@font-face {font-family: 'CentSchbookBTWGL4WXX-Roman';src: url('../fonts/39A02B_0_0.eot');src: url('../fonts/39A02B_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/39A02B_0_0.woff2') format('woff2'),url('../fonts/39A02B_0_0.woff') format('woff'),url('../fonts/39A02B_0_0.ttf') format('truetype');}

$typeface_body: 'CentSchbookBTWGL4WXX-Roman', serif;
$typeface_heading: 'Arial', sans-serif;

$color_body: hsl(0, 5%, 5%);
$color_link: blue;
$color_footer: hsl(0, 5%, 50%);
$color_background: #fefcf7;
$section_margin: 0 0 3rem 0;


html {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  color: $color_body;
  font-family: $typeface_body;
  height: 100%;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1.9rem;
  line-height: 1.6;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background: $color_background;
}

a {
  color: $color_link;
  text-decoration: none;
}

p {
  margin: 0 0 3rem;
}

dt {
  font-weight: bold;
}

#root {
  padding: 2rem;
}

nav .home-link {
  
}


.content, nav {
  max-width: 80rem;
  margin: 0 auto;
}


// h1, h2, h3, h4, h5, h6 {
//   font-family: $typeface_heading;
//   margin: $section_margin;
  
// }

// h1 {
//   text-align: center;
//   text-transform: uppercase;
//   font-weight: 300;
//   font-size: 2.5rem;
// }

.video {
  height: 0;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;

  iframe {
    border: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
}

.video-wrapper {
    margin: $section_margin;
}

.video-caption {
  font-size: 0.83em;
  font-style: italic;
  margin: 0.5em 0;
}

ul {
  margin: $section_margin;

  a {
    margin: 0 0.5rem;
    display: block;
    opacity: 0.8;
  
    &:hover {
      opacity: 1;
    }
  }
}

footer {
  font-size: 1.4rem;
  text-align: center;
  color: $color_footer;
}

footer a {
  color: $color_footer;
}

$icon_width: 160px;
.page-icon{

  position: absolute;

  width: $icon_width;
  margin-left: -$icon_width;
  height: 0.875 * $icon_width;
  object-fit: cover;
  object-position: center bottom;

  // bump above h1  
  // margin-top: calc(#{-0.1875 * $icon_width} - 1.5em - #{0.83em * 2});
  margin-top: -0.1875 * $icon_width;
}

@media only screen and (max-width: 1095px) {
  .page-icon {
    position: relative;
    margin-left: -0.1875 * $icon_width;
    margin-top: 0rem;

    text-align: center;
  }
}

.download-text {
  font-style: italic;
}

.table-of-contents {
  ol.parts {
    list-style: none;
    padding: 0;
    margin: 0;

    & > li .part-name {
      text-transform: uppercase;
    }

    ol.chapters {
      list-style-type: disc;
    }

    ol.materials {
      list-style-type: circle;
    }
  }
}

.chapter-navigation {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 3rem 0;
  font-size: 1.17em;
  & > * {
    flex-grow: 1;
  }

  .prev-chapter {
    text-align: left;

    &::before {
      content: '‹ '
    }
  }

  .next-chapter {
    text-align: right;
    &::after {
      content: ' ›';
    }
  }
}

@media only screen and (min-width: 992px) {
}
